html,
body {
  margin: 0;
  padding: 0;
}

.nav {
  background-color: lightskyblue;
}

.header {
  background-color: bisque;
}

.content {
  background-color: lightgreen;
}

.project .inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
