html,
body {
  margin: 0;
  padding: 0;
}

.nav {
  background-color: lightskyblue;
}

.header {
  background-color: bisque;
  text-align: center;
}

.content {
  background-color: lightgreen;
}

h2 {
  text-align: center;
}

table,
td {
  border: 1px solid black;
}

table {
  margin: auto;
}

th {
  width: 220px;
}
